@import url("https://fonts.googleapis.com/css?family=Coiny");

#cake-container {
  position: relative;
  width: 100%;
}

.bday-content {
  height: 700px;
  gap: 260px;
}

.happy-bday-text {
  font-family: "Coiny", cursive;
  font-size: clamp(65px, 18vw, 110px);
  text-align: center;
  display: none;
  margin: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.happy-bday-text.active {
  opacity: 1;
  transform: translateY(0);
}

.layer,
.cream {
  width: 145px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.layer {
  height: 12px;
  background-color: #a8867a;
  border-radius: 4px;
  margin-top: -2px;
}

.cream {
  height: 9px;
  background-color: #8a6a5f;
  border-radius: 4px;
}

.layer.visible,
.cream.visible,
.cake-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.plate {
  height: 3px;
  background: #ffffff;
  width: 165px;
}

.bday-content,
#text {
  display: none;
}

#text {
  font-size: 15px;
  margin-bottom: 2px;
}

.btn-container {
  align-items: center;
}

.cake-top {
  background-color: #fff8f0;
  height: 0px;
  position: relative;
  width: 152px;
  z-index: 1;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.drip {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}

@keyframes cake-top {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes layer1 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cream1 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes layer2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cream2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes layer3 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cream3 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 575px) {
  section {
    margin: auto;
    width: 95%;
  }
  .happy-bday-text {
    margin-top: 70px;
  }
}
